workflows/1AfzYnQdBN5OHQV0.json
{
  "createdAt": "2025-06-11T07:28:58.965Z",
  "updatedAt": "2025-06-11T11:57:44.206Z",
  "id": "1AfzYnQdBN5OHQV0",
  "name": "1 Hour before call",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "sales@rh-s.com",
          "mode": "list",
          "cachedResultName": "sales@rh-s.com"
        },
        "timeMax": "={{ $now.plus({ minutes: 60 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        40,
        0
      ],
      "id": "b1789f0b-6601-492f-94e0-3fd7ff74c425",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "lmaohrn9G1cLylHj",
          "name": "Sales Google Calendar"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        0
      ],
      "id": "5926f691-afae-4142-8c4c-20d98cc9d7f3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c897b46c-407e-401f-8eb9-6220c678a117",
              "name": "leadEmail",
              "value": "={{$json.attendees.filter(a=>!['sales@rh-s.com','lg@rh-s.com'].includes(a.email))[0].email}}",
              "type": "string"
            },
            {
              "id": "b266d33c-7f58-4cd5-9692-e6ea2e61df04",
              "name": "diffToStart",
              "value": "={{ Math.floor((Date.parse($json.start.dateTime)-Date.now())/60000) }}",
              "type": "number"
            },
            {
              "id": "96befa52-2a3e-479f-8ded-18f74e3e6823",
              "name": "minutesAfterStart",
              "value": "={{ Math.max(0, Math.floor((Date.now()-Date.parse($json.start.dateTime))/60000)) }}",
              "type": "number"
            },
            {
              "id": "181066a0-630e-4562-80c3-04a631f5f446",
              "name": "googleMeet",
              "value": "={{$json.conferenceData.entryPoints[0].uri ?? ''}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        -40
      ],
      "id": "ae9c5227-104e-48da-b568-3ea740e8dd06",
      "name": "Calc Lead"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "556c1ad2-3846-4c1a-bce0-b298f8100b37",
              "leftValue": "={{$json.attendees.map(a=>a.email).includes('sales@rh-s.com')}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "e37d6f4e-cc2e-44ee-a386-10f7649e8020",
              "leftValue": "={{$json.attendees.map(a=>a.email).includes('lg@rh-s.com')}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        500,
        -20
      ],
      "id": "5a811a87-64a5-4a11-b0be-4dfc794c97dd",
      "name": "Has Sales"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4bf976bd-d0be-477d-bc52-5aac38f0d5dc",
              "leftValue": "={{ $json.summary }}",
              "rightValue": "- Remote Helpers",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        0
      ],
      "id": "bdbfafc3-0b2b-4a3f-80b4-eaf9fa648c8b",
      "name": "Contains RH"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2f8b6310-5e7c-4bd3-93f1-04656ce019a1",
              "leftValue": "={{ $json.diffToStart }}",
              "rightValue": 46,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "ac177b97-25da-43af-bb50-eb9e4a013ca1",
              "leftValue": "={{ $json.diffToStart }}",
              "rightValue": 64,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        920,
        -40
      ],
      "id": "54c9c9f1-fa7d-470a-a0fe-598fb96b2d50",
      "name": "If pre-call 60 min"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.leadEmail }}",
        "subject": "=Remote Helpers call reminder",
        "emailType": "text",
        "message": "=Hello, \nI Hope you are doing well. \nWe have a call with you today in 1 hour. \nHere is a link: {{ $json.googleMeet }}  \n\nKind Regards, \nRemote Helpers",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1160,
        -120
      ],
      "id": "29f301d0-4a68-4e15-a0ff-affbe8b20c1d",
      "name": "Gmail1",
      "webhookId": "f7fa8c60-5859-492e-8b95-e000cfbafe8c",
      "credentials": {
        "gmailOAuth2": {
          "id": "sv4epLX3dUAhBbno",
          "name": "Sales Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Contains RH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Lead": {
      "main": [
        [
          {
            "node": "If pre-call 60 min",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Sales": {
      "main": [
        [
          {
            "node": "Calc Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contains RH": {
      "main": [
        [
          {
            "node": "Has Sales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If pre-call 60 min": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3ac8eadd-43e9-4a16-8232-3503394cbbc2",
  "triggerCount": 1,
  "tags": []
}