workflows/5VtQpteSvYRqUcG4.json
{
  "createdAt": "2025-09-03T07:35:50.716Z",
  "updatedAt": "2025-09-03T14:29:11.601Z",
  "id": "5VtQpteSvYRqUcG4",
  "name": "Companies Remote Classifier v1",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "68e17604-bf07-45b6-89ea-a0e288d0c4c2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jxVLpFuxAcVNL-xKLaAtgFlaQ_Sk7tm83O7L-8eyqYg",
          "mode": "list",
          "cachedResultName": "Job sites web scrapping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jxVLpFuxAcVNL-xKLaAtgFlaQ_Sk7tm83O7L-8eyqYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1593393059,
          "mode": "list",
          "cachedResultName": "Kolya",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jxVLpFuxAcVNL-xKLaAtgFlaQ_Sk7tm83O7L-8eyqYg/edit#gid=1593393059"
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A801:D1000"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        220,
        0
      ],
      "id": "e05e30dd-d5b0-44d5-9bae-5e8251b7a4e4",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ON1rXznsMRdSLNBf",
          "name": "Admin Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://r.jina.ai/{{ $json['https://www.jobs.de/de/job/sales-representative-sales-agent-italian-speaking-market-493379'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer jina_d90dd35aa6c24f7b9e883e99e4c5522bpghRz3vlAU8TvVWQyGa2_xPIRMqV"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "2436d2f9-7d1d-4944-83c4-a7f6b0a320f8",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Classify the following job post. Return only \"remote\" or \"not remote\".\n\n{{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a strict binary classifier for job postings. Output exactly one word: \"remote\" or \"not remote\". Rules: - Return \"remote\" ONLY if the role is explicitly fully remote (e.g., fully remote, 100% remote, remote-first, work from home, anywhere) and no on-site/hybrid presence is required. - \"Remote within <country/region/timezone>\" is remote if no office presence is required. - If hybrid/onsite/in-office/partial presence/flexible location/occasional office/travel required → \"not remote\". - If unclear or missing info → \"not remote\". - Ignore company boilerplate and perks; focus on work location policy."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        760,
        0
      ],
      "id": "07648e6f-df11-4ad0-8972-ddb785172623",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "temperature": 0.3,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        860,
        160
      ],
      "id": "eb34e44a-8c70-4232-aa77-88fb7de06c7e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "OEY7AoSUjSZlA7Co",
          "name": "ADMIN OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "559c9f74-95e1-4b07-978e-029ef7460d82",
              "name": "remote",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        0
      ],
      "id": "ae802aa3-4c9c-4767-b340-18f3ccffadb0",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jxVLpFuxAcVNL-xKLaAtgFlaQ_Sk7tm83O7L-8eyqYg",
          "mode": "list",
          "cachedResultName": "Job sites web scrapping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jxVLpFuxAcVNL-xKLaAtgFlaQ_Sk7tm83O7L-8eyqYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1593393059,
          "mode": "list",
          "cachedResultName": "Kolya",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jxVLpFuxAcVNL-xKLaAtgFlaQ_Sk7tm83O7L-8eyqYg/edit#gid=1593393059"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "remote": "={{ $json.remote }}",
            "Row id": "={{ $('Google Sheets').item.json['602'] }}"
          },
          "matchingColumns": [
            "Row id"
          ],
          "schema": [
            {
              "id": "Row id",
              "displayName": "Row id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vacancy_url",
              "displayName": "vacancy_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "captured_date",
              "displayName": "captured_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remote",
              "displayName": "remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company website",
              "displayName": "Company website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company linkedin",
              "displayName": "Company linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Needed professions",
              "displayName": "Needed professions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Is in CRM",
              "displayName": "Is in CRM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1460,
        0
      ],
      "id": "6f81c0ee-0c9a-481e-80e2-f1b3471dd019",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ON1rXznsMRdSLNBf",
          "name": "Admin Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0182e37c-42db-414d-8cd0-a40cc0014ab7",
              "leftValue": "={{ $json.remote }}",
              "rightValue": "remote",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        0
      ],
      "id": "3fc8fe47-21f7-4a1b-8c43-cef537c4b386",
      "name": "If"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "maxTokens": 1024,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1920,
        -140
      ],
      "id": "f93c8e89-60bb-4389-b6b8-8263a42b15ac",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "OEY7AoSUjSZlA7Co",
          "name": "ADMIN OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the fields per the system rules from the following job post text and return JSON only.\n\n{{ $('HTTP Request').item.json.data }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=\nYou are an information extractor. Output ONLY valid minified JSON on a single line, no code fences, no prose.\nSchema (required keys): {“company_name”:string,“company_website”:string|null,“linkedin_url”:string|null,“job_titles”:string[]}\nRules:\n\t•\tUse only facts present in the text; if unknown → null.\n\t•\tcompany_website: return the company’s official homepage (https://…), not job boards/ATS. Denylist: indeed.com, glassdoor.com, stepstone.de, workday.com, greenhouse.io, lever.co, smartrecruiters.com.\n\t•\tlinkedin_url: must be a company page like https://www.linkedin.com/company// (not jobs/people/school).\n\t•\tjob_titles: extract unique role titles mentioned in the posting (1–5 items), plain strings.\n\t•\tNormalize URLs (https, no tracking params). No trailing commas. No extra keys.\nIf the content is blocked or insufficient, set unknown fields to null.\nReturn only the result, without any additional comments, explanations, preambles, formatting, markdown, or code blocks."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1920,
        -340
      ],
      "id": "e550d8f5-52ce-4c25-9b87-77142fa8c161",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(({ json }) => {\n  const src =\n    json.text ??\n    json?.choices?.[0]?.message?.content ??\n    json.output_text ??\n    json.data ??\n    \"\";\n\n  let s = String(src).trim()\n    .replace(/^```(\\w+)?/, \"\")\n    .replace(/```$/, \"\")\n    .trim();\n\n  let obj;\n  try { obj = JSON.parse(s); } catch {\n    const m = s.match(/{[\\s\\S]*}/);\n    if (m) {\n      let cand = m[0];\n      for (let i = cand.length; i >= 2; i--) {\n        try { obj = JSON.parse(cand.slice(0, i)); break; } catch {}\n      }\n    }\n  }\n  if (!obj || typeof obj !== \"object\") {\n    obj = { company_name: null, company_website: null, linkedin_url: null, job_titles: [] };\n  }\n\n  const out = {\n    company_name: obj.company_name ?? null,\n    company_website: obj.company_website ?? null,\n    linkedin_url: obj.linkedin_url ?? null,\n    job_titles: Array.isArray(obj.job_titles) ? [...new Set(obj.job_titles.map(String))] : [],\n  };\n\n  return { json: { ...json, ...out } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        -340
      ],
      "id": "0de0d6b9-a7f5-41be-b6eb-2dbdfa916ec6",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jxVLpFuxAcVNL-xKLaAtgFlaQ_Sk7tm83O7L-8eyqYg",
          "mode": "list",
          "cachedResultName": "Job sites web scrapping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jxVLpFuxAcVNL-xKLaAtgFlaQ_Sk7tm83O7L-8eyqYg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1593393059,
          "mode": "list",
          "cachedResultName": "Kolya",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jxVLpFuxAcVNL-xKLaAtgFlaQ_Sk7tm83O7L-8eyqYg/edit#gid=1593393059"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company name": "={{ $json.company_name }}",
            "Company website": "={{ $json.company_website }}",
            "Company linkedin": "={{ $json.linkedin_url }}",
            "Needed professions": "={{ $json.job_titles[1] }}",
            "Row id": "={{ $('Google Sheets').item.json['402'] }}"
          },
          "matchingColumns": [
            "Row id"
          ],
          "schema": [
            {
              "id": "Row id",
              "displayName": "Row id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "domain",
              "displayName": "domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vacancy_url",
              "displayName": "vacancy_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "captured_date",
              "displayName": "captured_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "remote",
              "displayName": "remote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company name",
              "displayName": "Company name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company website",
              "displayName": "Company website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company linkedin",
              "displayName": "Company linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Needed professions",
              "displayName": "Needed professions",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Is in CRM",
              "displayName": "Is in CRM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2500,
        -340
      ],
      "id": "6f965a48-e754-4c34-9065-a6528005d110",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ON1rXznsMRdSLNBf",
          "name": "Admin Google Sheets"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c3c5565e-e5d5-4f50-ab83-01a7da5877c9",
  "triggerCount": 0,
  "tags": []
}