workflows/8zbwK2QlvJLINW55.json
{
  "createdAt": "2025-06-11T11:24:12.024Z",
  "updatedAt": "2025-06-11T11:24:17.611Z",
  "id": "8zbwK2QlvJLINW55",
  "name": "GetOnboardingFile_Navigating_the_n8n_Interface",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/NavigatingTheN8nInterface",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        -60
      ],
      "id": "d21e6d1a-c46d-46a1-b719-7252ece912ac",
      "name": "Webhook",
      "webhookId": "329e9577-1e8c-4b4c-8a19-a03efbc1515e"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1UI-S21J7aYr6veFbZ3_yIqS4SId55N-VK6oacXWPsYk/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -40,
        -60
      ],
      "id": "98618251-89a2-42f6-88f0-4a27b49b6f38",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        -60
      ],
      "id": "8983b560-2b89-4e5f-8c38-b9b12ed507ec",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ccb36cc8-c5ca-494d-a211-650e4bf58d0e",
  "triggerCount": 0,
  "tags": []
}