workflows/AFLoNRu3xNsfrWaW.json
{
  "createdAt": "2025-06-11T11:22:08.080Z",
  "updatedAt": "2025-06-11T11:22:14.514Z",
  "id": "AFLoNRu3xNsfrWaW",
  "name": "GetOnboardingFile_Implementing_Workflow_Agents",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/ImplementingWorkflowAgents",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -40
      ],
      "id": "56fc048d-d4ab-4530-a9f1-d233b57bb350",
      "name": "Webhook",
      "webhookId": "d6aa78f8-6f32-4dc5-8bbb-adf2cd722de2"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1M_ITUB8cR6W7Da1-zB0v9A0WGtuKt8N_XsyDBBru5S8/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -60,
        -40
      ],
      "id": "d6348dbc-e994-49d7-be2c-2238096b16f4",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        -40
      ],
      "id": "f4cfb547-0d61-4d13-a775-4b56bb985a39",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5f80e3f0-8228-44d9-b3ef-1ec8f83b64e0",
  "triggerCount": 0,
  "tags": []
}