workflows/BJyBO3neijg0rrJx.json
{
  "createdAt": "2025-06-11T11:33:00.030Z",
  "updatedAt": "2025-06-11T11:33:06.930Z",
  "id": "BJyBO3neijg0rrJx",
  "name": "GetOnboardingFile_What_is_Prompt_Engineering",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "3b220bee-17c7-44a7-ada4-5bbc3b1f6bda",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        -80
      ],
      "id": "175b6fcd-eddb-44ab-9463-2e9447094277",
      "name": "Webhook",
      "webhookId": "3b220bee-17c7-44a7-ada4-5bbc3b1f6bda"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1hXBV5r8nrAe6uaUv7uz86wJj9psjFy8ftfZhe-jkf9w/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        40,
        -80
      ],
      "id": "9ccdf737-93e5-4739-8c9b-1bd07fa2f75d",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        260,
        -80
      ],
      "id": "f21e8a3f-b015-4243-8b52-6c45d3ce7a5e",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4140c547-e4c0-4805-b68e-9850a88f0bc8",
  "triggerCount": 0,
  "tags": []
}