workflows/CcMzIcLNb34K5zYn.json
{
  "createdAt": "2025-06-11T11:45:07.759Z",
  "updatedAt": "2025-06-11T11:45:25.240Z",
  "id": "CcMzIcLNb34K5zYn",
  "name": "PostOnboardingJSON",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "PostOnboardingJSON",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1560,
        60
      ],
      "id": "33366d89-418f-48f6-9bc3-4d9f8ef5a6af",
      "name": "Webhook",
      "webhookId": "89ccf3f1-42e6-429e-af70-dacfb3df2333"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -260,
        -60
      ],
      "id": "d30fde78-9409-49ec-8ff8-b1b1e46f88e3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/11S6ngZytRUSfc91-YVewlglqqeMHhnVoQZLc_1PTenw/edit"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -1340,
        60
      ],
      "id": "e09a69ae-abb3-46a3-9c87-fa310a1b8ace",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hook.eu1.make.com/325xq22v6pfrmovdlasnsn27r3khdouy",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $('Webhook').item.json.body.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -900,
        380
      ],
      "id": "abc329ba-1a30-4785-9c18-f01d152c56f3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -720,
        380
      ],
      "id": "2c2d574c-173a-43c0-92a2-d882f991ccb6",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zExeriXA5cRy0jFR",
          "mode": "list",
          "cachedResultName": "DeleteJSONForUpdate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1120,
        60
      ],
      "id": "480f87c3-7637-4c0e-b1cf-41ddf717f415",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "=https://docs.google.com/document/d/11S6ngZytRUSfc91-YVewlglqqeMHhnVoQZLc_1PTenw/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Webhook').item.json.body.data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -900,
        60
      ],
      "id": "3485e872-0b5b-4b98-a55d-981e7a251f4a",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3d46e5e6-abea-4dcf-b3d6-d0690b6edb30",
  "triggerCount": 0,
  "tags": []
}