workflows/CgAgY5K3AYQMAV6w.json
{
  "createdAt": "2025-06-11T11:27:36.841Z",
  "updatedAt": "2025-06-11T11:27:44.699Z",
  "id": "CgAgY5K3AYQMAV6w",
  "name": "GetOnboardingFile_Setting_Up_n8n",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/SettingUpN8n",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        -80
      ],
      "id": "188e6a5e-652c-4a18-b43a-8b7a0b9d6836",
      "name": "Webhook",
      "webhookId": "687f9629-3cb4-4eca-a94f-e9508dcfef48"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1hxhAERaNPa8TW6E08AfVCqdBwUAS3iAL2IGRZdKDXNA/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        20,
        -80
      ],
      "id": "8160e764-9522-41ca-b900-3250131ed80a",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        -80
      ],
      "id": "5ebe913d-b054-49a0-bfef-c3c0a8b71c79",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "055b8f34-ad81-4252-b355-8dbacb82a50e",
  "triggerCount": 0,
  "tags": []
}