workflows/CvGEEEyuf5XsNu4F.json
{
  "createdAt": "2025-06-11T11:08:44.802Z",
  "updatedAt": "2025-06-11T11:08:50.324Z",
  "id": "CvGEEEyuf5XsNu4F",
  "name": "GetOnboardingFileTreeofThought",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "e62faf53-2e85-419d-b3ff-4417e2bacac3",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        -180
      ],
      "id": "66a4fb4f-deae-43fd-94cd-71bea57cc9a0",
      "name": "Webhook",
      "webhookId": "e62faf53-2e85-419d-b3ff-4417e2bacac3"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/17wGTu3cp28q3d3SmjXwQ4m-rB2Sdq7JjrUYu1KLMEU8/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -20,
        -180
      ],
      "id": "ad070475-a293-4e1b-bde2-d01085d05b32",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        -180
      ],
      "id": "3f8e8149-bcbc-44a2-8c42-bc296ae12041",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d5da4d67-7c3a-4337-b0cf-53b8ea4dfa8e",
  "triggerCount": 0,
  "tags": []
}