workflows/DQ3CJkBSeGwQK6PI.json
{
  "createdAt": "2025-06-11T11:13:00.401Z",
  "updatedAt": "2025-06-11T11:13:07.435Z",
  "id": "DQ3CJkBSeGwQK6PI",
  "name": "GetOnboardingFile_Automating_Data_Workflows",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/AutomatingDataWorkflows",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        -80
      ],
      "id": "82d89e80-fbb7-485a-aac9-67adbf5c8fe8",
      "name": "Webhook",
      "webhookId": "f55b0f21-e3a0-4b06-b692-f9ed89eb1c9e"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1p8-fa8JVsWlDHRNBmxuwaRItNc2UzFuD9-TUOrc_tc0/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -120,
        -80
      ],
      "id": "42997de9-4669-49a4-a88d-2d9c2d0f6d32",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        100,
        -80
      ],
      "id": "9a461725-8b74-4c96-bfd6-a918741712a5",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "97cdfe2b-1088-4bb8-9688-92a84e7cab1f",
  "triggerCount": 0,
  "tags": []
}