workflows/DxQPM07X0gEkntmQ.json
{
  "createdAt": "2025-06-11T11:31:44.605Z",
  "updatedAt": "2025-06-11T11:31:51.487Z",
  "id": "DxQPM07X0gEkntmQ",
  "name": "GetOnboardingFile_Understanding_Webhooks",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "2f434695-09a9-41ff-9426-878c9408d0d0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        -160
      ],
      "id": "f10aeee5-4a56-42f8-bc93-7019ab52c054",
      "name": "Webhook",
      "webhookId": "2f434695-09a9-41ff-9426-878c9408d0d0"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1QXDZvfN-egQUixkRP7GFf0zx3OWmBZhdmVokv44uLgA/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -120,
        -160
      ],
      "id": "584cfdbe-6301-436e-b9fd-628bda214171",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        100,
        -160
      ],
      "id": "22594024-4e01-4960-b539-4053e8d4cabb",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e174f284-a20e-4454-ab66-0250a3ef240d",
  "triggerCount": 0,
  "tags": []
}