workflows/eZnB0rBMd1IVI4UZ.json
{
  "createdAt": "2025-06-11T09:54:21.018Z",
  "updatedAt": "2025-06-11T09:55:39.997Z",
  "id": "eZnB0rBMd1IVI4UZ",
  "name": "GetOnboardingFile-ai-tools-in-remote-helpers-overview",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "ai-tools-in-remote-helpers-overview",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -100,
        -180
      ],
      "id": "4a5827ef-adf2-44ec-bbed-4718287df094",
      "name": "Webhook",
      "webhookId": "4c4f006e-8dec-4e91-b1ab-d2eb8ac68846"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/13wjLylRLRCpRh_cK9-H_CJmKozvvzhzRGDmRJnQ8B6E/edit"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        120,
        -180
      ],
      "id": "154b4d5b-411a-444d-9845-7fba18030b1b",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        340,
        -180
      ],
      "id": "f013270c-ba98-4d7e-ad83-4cb33d7e4fb4",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a185a614-e357-4d3a-82b9-db86c08e2b9d",
  "triggerCount": 0,
  "tags": []
}