workflows/JMChgkDMmqdjojpc.json
{
  "createdAt": "2025-06-11T11:12:21.588Z",
  "updatedAt": "2025-06-11T11:12:28.949Z",
  "id": "JMChgkDMmqdjojpc",
  "name": "GetOnboardingFile_Advanced_Prompt_Engineering",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "b6b18a77-edce-4b68-9430-4ea88b600da0",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        -100
      ],
      "id": "e8d43b4f-6224-4975-8cac-fc6e1fb46c59",
      "name": "Webhook",
      "webhookId": "b6b18a77-edce-4b68-9430-4ea88b600da0"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1Fthn9gG2_AWeNs-t28ip0Z8_FJ1hFcVpot78bFY7chU/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -20,
        -100
      ],
      "id": "05a1829b-acaa-45e9-8d83-78dc4464029e",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        -100
      ],
      "id": "321aadce-d5ea-4dd2-b019-dda423abad2b",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "48eb7287-a5a3-402a-8769-65eb9d59bfda",
  "triggerCount": 0,
  "tags": []
}