workflows/jSDaojgOrUv7kmOF.json
{
  "createdAt": "2025-06-11T11:11:26.645Z",
  "updatedAt": "2025-06-11T11:11:33.673Z",
  "id": "jSDaojgOrUv7kmOF",
  "name": "GetOnboardingFile_AI_Tools_Landscape",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "fd217209-af74-440b-a4ff-1e3c0e56d0de",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -380,
        -60
      ],
      "id": "01ace0e7-7ac5-4d9a-a8a3-4df5ed02b7ae",
      "name": "Webhook",
      "webhookId": "fd217209-af74-440b-a4ff-1e3c0e56d0de"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/13qmoHqfu40NFumcVUFgGNWwFVpW6jgb9g1onhI2ausM/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -160,
        -60
      ],
      "id": "a3cc34b0-dbc0-40e7-91d1-981c39717520",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        60,
        -60
      ],
      "id": "9cd6ea18-6f65-4c9f-9810-baddd9b5b46a",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bb638e8f-9ef2-417f-a896-4662818933c0",
  "triggerCount": 0,
  "tags": []
}