workflows/KQhtxPiCpXGhIZba.json
{
  "createdAt": "2025-06-11T11:54:10.867Z",
  "updatedAt": "2025-06-11T11:54:25.193Z",
  "id": "KQhtxPiCpXGhIZba",
  "name": "CRM_Integration_Prospects",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b02405f7-47fa-4f06-b504-dfb9a767f4c7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1020,
        220
      ],
      "id": "16b0ec2d-5c9a-4324-9b2a-afad0a40e9f5",
      "name": "Webhook",
      "webhookId": "b02405f7-47fa-4f06-b504-dfb9a767f4c7"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3a8c508-129d-416c-ab2a-7f6501d44c8b",
                    "leftValue": "={{$json.body.message.includes(\"покажи\")}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Read from CRM"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e49fbdd6-78c1-4de4-ac37-cb92d0694871",
                    "leftValue": "={{$json.body.message.includes(\"запиши\")}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Write to CRM"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -800,
        220
      ],
      "id": "28bb2ec7-bd0e-46e6-b7f2-0a1b5edcaa7b",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "=https://pros-api.crm-s.com/api/v1/business/prospects",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 28|crm_SzCdQJY942THiVv9lDzG5zdicXMHp3pSu9y2Dz8y3e3782c3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        0
      ],
      "id": "73a57d68-29be-48c9-98ae-8a6825a27cb0",
      "name": "HTTP Read Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://new.crm-s.com/api/departments/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "{{ $json.body.message.split(' ').slice(4).join(' ') }}"
            },
            {
              "name": "status_id",
              "value": "8"
            },
            {
              "name": "translation_id",
              "value": "1"
            },
            {
              "name": "priority_id",
              "value": "1"
            },
            {
              "name": "color",
              "value": "rgb(255, 87, 87)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -500,
        380
      ],
      "id": "41eb8700-60bf-42fd-a1da-038bfc18b904",
      "name": "HTTP Write Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "SY2duFo5Q5EVG5xR",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"response\": \"{{ $json['response'] }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        0
      ],
      "id": "5e808a10-a384-4b8a-ad74-ef593f58e826",
      "name": "Respond to Read Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"response\": \"{{ $json['response'] }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -40,
        380
      ],
      "id": "ad06c2f4-f050-4cbc-8adf-d29602ceeeb1",
      "name": "Respond to Write Webhook",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "209c4d87-5be5-4ca1-a822-73c5afb51f03",
              "name": "response",
              "value": "=Департамент {{ $('Switch').item.json.body.message.split(' ')[3] }} создан с именем {{ $('Switch').item.json.body.message.split(' ').slice(4).join(' ') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        380
      ],
      "id": "ab6881d5-bd1a-4ee5-a3d3-1967f9a290fa",
      "name": "Edit Write Field",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0157906-80ea-4f41-815f-3cc8b6937668",
              "name": "response",
              "value": "=Данные департамента: {{ $json.stringified }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -60,
        0
      ],
      "id": "29230c6a-508f-406b-bb51-1af358cf7a63",
      "name": "Read Field"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1ZP-R7Hrh7pc6Ba_NMnVC8kixzlvMQfCaj4W8W036Xbg/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZP-R7Hrh7pc6Ba_NMnVC8kixzlvMQfCaj4W8W036Xbg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $json.response }}"
          },
          "matchingColumns": [
            "output"
          ],
          "schema": [
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        180,
        380
      ],
      "id": "7b07aa39-2db9-4a44-a572-c2cbcc07bd6a",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "G2Cofo2yQHQm8yf9",
          "name": "DEV Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "# РАБОТАЕТ",
        "height": 80,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -340,
        -100
      ],
      "id": "ca1d021b-b9cf-462f-9fb6-814068a5174c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst result = items.map(item => {\n  return {\n    json: {\n      stringified: JSON.stringify(item.json)\n    }\n  };\n});\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ],
      "id": "cc498731-50c5-4d2e-ab17-d03a4b00d236",
      "name": "Code1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Read Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Write Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Read Request": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Write Request": {
      "main": [
        [
          {
            "node": "Edit Write Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Write Field": {
      "main": [
        [
          {
            "node": "Respond to Write Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Field": {
      "main": [
        [
          {
            "node": "Respond to Read Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Write Webhook": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Read Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "bb8f3a23-2a06-4c58-94ec-f0ef0ce26b74",
  "triggerCount": 0,
  "tags": []
}