workflows/kXs3DiJbZOXeHh0S.json
{
  "createdAt": "2025-06-11T11:01:46.945Z",
  "updatedAt": "2025-06-11T11:01:53.527Z",
  "id": "kXs3DiJbZOXeHh0S",
  "name": "GetOnboardingFileAgentSim",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "622eb756-9b7f-4404-8ce4-08dad5967e89",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -140
      ],
      "id": "ec95b160-35ed-464c-84ac-a7f602680f62",
      "name": "Webhook",
      "webhookId": "622eb756-9b7f-4404-8ce4-08dad5967e89"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1vouWvnpAOD8yhK4o_940_fZI9ruGuqQCiJefZ5216ow/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -60,
        -140
      ],
      "id": "a53bd027-d8e4-44a4-8bcf-ddba34d39f52",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        -140
      ],
      "id": "a75a5f40-2f63-4a70-bf34-d54bc75b9f06",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c08ffc37-6f04-4b45-839c-3945a1acef36",
  "triggerCount": 0,
  "tags": []
}