workflows/N1Zc0QMfQWvNjDtf.json
{
  "createdAt": "2025-06-11T11:15:49.000Z",
  "updatedAt": "2025-06-11T11:15:56.660Z",
  "id": "N1Zc0QMfQWvNjDtf",
  "name": "GetOnboardingFile_Clock_in-out__screenshots_in_CRM",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/leadgeneration/guide/ClockIn-outAndScreenshotsInCRM",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        -20
      ],
      "id": "baaed2dd-6f98-4587-aa49-c0676db9a576",
      "name": "Webhook",
      "webhookId": "56a0282d-3d8e-4c02-bf38-b7911810fefd"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1F_RSye45ejRJRgEA8SfBYvxWh_Su5DqH5vK1wiBGbo8/edit?usp=drive_link"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        60,
        -20
      ],
      "id": "bdf0e45e-ca14-4611-9154-df84472ca43a",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        280,
        -20
      ],
      "id": "9fbe1abb-af7a-4f21-9fbe-dc9838ffb598",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d952a9a9-5e65-4289-a60b-fa0da1c51f17",
  "triggerCount": 0,
  "tags": []
}