workflows/PehaYrZwfn5BnpQ2.json
{
  "createdAt": "2025-06-11T11:17:10.810Z",
  "updatedAt": "2025-06-11T11:17:16.224Z",
  "id": "PehaYrZwfn5BnpQ2",
  "name": "GetOnboardingFile_Custom_Node_Development",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/CustomNodeDevelopment",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        -140
      ],
      "id": "775e15a2-3b22-4bee-89d8-1f9c5c973268",
      "name": "Webhook",
      "webhookId": "955ddf97-2194-4b4e-97e7-22bf18443f33"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1H1na1P-nu6lUbsk-8n0KgHe2eiKxmhMp406m-0ECHb0/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -120,
        -140
      ],
      "id": "1890af3f-eeb6-401f-8aa0-6185eeae2ca2",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        100,
        -140
      ],
      "id": "0ae80a31-15cc-465a-80d8-2377371b9a82",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "df393b26-c38f-4b17-a701-a67828bfd98b",
  "triggerCount": 0,
  "tags": []
}