workflows/pFs9ppqCa3u3Z5CY.json
{
  "createdAt": "2025-06-11T11:16:38.572Z",
  "updatedAt": "2025-06-11T11:16:43.798Z",
  "id": "pFs9ppqCa3u3Z5CY",
  "name": "GetOnboardingFile_Connecting_to_External_APIs",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/ConnectingToExternalAPIs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -300,
        -80
      ],
      "id": "7d5203d2-07f0-4aa5-823b-a4ab8cd173bf",
      "name": "Webhook",
      "webhookId": "0c20c1d3-1fcf-4133-a381-88d19a54a17f"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1TWjm94G8yRAaUcx7PAjmzsMrRned7yelMBz2COQNJ1s/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -80,
        -80
      ],
      "id": "1578fefe-c4a9-4554-a2b5-a9db66fcda1b",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        140,
        -80
      ],
      "id": "5e33eeee-15ec-4f4f-b9d1-f5e4a4f92c85",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e8bc85ab-6bb8-4524-ad77-a7657cd13bfb",
  "triggerCount": 0,
  "tags": []
}