workflows/R7eO3o3pNC8CYtzz.json
{
  "createdAt": "2025-06-11T11:33:28.047Z",
  "updatedAt": "2025-06-11T11:33:34.704Z",
  "id": "R7eO3o3pNC8CYtzz",
  "name": "GetOnboardingFile_Workflow_Chaining_and_Complex_Flows",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/WorkflowChainingAndComplexFlows",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        -120
      ],
      "id": "46518784-b485-4afa-a9f3-cd9006c155e0",
      "name": "Webhook",
      "webhookId": "57b74715-8d4e-4c77-972a-8626241def5f"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1S9-hwQLox0flmHTltJnliiiaElpCcOgCQTOgZ-Emh-o/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -40,
        -120
      ],
      "id": "b59004d4-6d8c-40d3-89ad-2bb0202c9f0b",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        -120
      ],
      "id": "9882fd9e-d908-4b10-bc1d-a3b525e9abba",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "685b1f09-9747-4fc7-aae4-de5aba0709d0",
  "triggerCount": 0,
  "tags": []
}