workflows/RrqrwKYsXkcpaZjH.json
{
  "createdAt": "2025-06-11T11:01:27.763Z",
  "updatedAt": "2025-06-11T11:01:34.324Z",
  "id": "RrqrwKYsXkcpaZjH",
  "name": "GetOnboardingFileAI_agent_definition",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "a793374f-13f1-4bb2-b7d6-f709893abd7d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        -100
      ],
      "id": "257f3948-d2f5-487c-b7d4-8495270f1671",
      "name": "Webhook",
      "webhookId": "a793374f-13f1-4bb2-b7d6-f709893abd7d"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1DCysJeNCkNVxDINeuEoOlEeoyHsuvpajMnajrkM3E8Y/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -20,
        -100
      ],
      "id": "8ec2b862-e1f7-43e9-92d4-9eeb3529ccf0",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        200,
        -100
      ],
      "id": "da6dd460-e299-4520-9512-3599a5c309cb",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8b72186c-ec31-4bda-87a6-357d35d03959",
  "triggerCount": 0,
  "tags": []
}