workflows/tOBS4xBc2IUt4kqo.json
{
  "createdAt": "2025-06-11T11:23:16.201Z",
  "updatedAt": "2025-06-11T11:23:23.409Z",
  "id": "tOBS4xBc2IUt4kqo",
  "name": "GetOnboardingFile_Leveraging_External_Tools_with_n8n",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/LeveragingExternalToolsWithN8n",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -260,
        -200
      ],
      "id": "13bb0164-710c-4627-955c-f98c18b6b4ae",
      "name": "Webhook",
      "webhookId": "edba95a3-1f90-49d9-a365-bcd51119f60b"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1bPDuObCZ--ACjGkxIbz4qayfTSZzxq8Ki0DY4dlqR4g/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -40,
        -200
      ],
      "id": "d217229d-d09d-4d53-85c1-b91f2841ce0f",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        -200
      ],
      "id": "eb3214f6-cf8c-4414-876b-ab828d62e989",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d4379631-e844-458f-8f70-e4037f0d8091",
  "triggerCount": 0,
  "tags": []
}