workflows/TQhyyFTItagmI4fX.json
{
  "createdAt": "2025-06-11T11:03:48.418Z",
  "updatedAt": "2025-06-11T11:03:53.249Z",
  "id": "TQhyyFTItagmI4fX",
  "name": "GetOnboardingFileFiveStepFramework",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "Onboarding/PromptEngineer/FiveStepFramework",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -120
      ],
      "id": "4616a5b9-6c88-4c6b-901e-6f53c838d1d0",
      "name": "Webhook",
      "webhookId": "42833e08-994f-4d73-999d-4f3b530eb984"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/14DkVvUQphEzKE9bDtYPrQTAoHxheBQNT0i1nUAKOcHI/edit"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -60,
        -120
      ],
      "id": "c79b3615-d7d5-4da5-9aa7-949416678c4f",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        160,
        -120
      ],
      "id": "3e040d21-2a9f-4724-b123-f688f419875d",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2e2e1dad-93c4-4bc5-9d95-e6fef037f348",
  "triggerCount": 0,
  "tags": []
}