workflows/Uma5JoP8h0lJ6g96.json
{
  "createdAt": "2025-06-11T11:01:09.052Z",
  "updatedAt": "2025-06-11T11:01:16.690Z",
  "id": "Uma5JoP8h0lJ6g96",
  "name": "GetOnboardingFileAIVocabulary",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "f85274c4-efa0-4fd0-bd77-1c3628d6ba13",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        -120
      ],
      "id": "ccfa5502-db06-45c8-8d93-6a0f597d2112",
      "name": "Webhook",
      "webhookId": "f85274c4-efa0-4fd0-bd77-1c3628d6ba13"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1kizIBcUwfvWyyrIGqXLbuiMvdWLarCFXHcVpCRgx-Bs/edit"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -180,
        -120
      ],
      "id": "e6f7113c-2d49-4cd5-b453-4517c328ba96",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        40,
        -120
      ],
      "id": "074ce300-049e-46a3-9940-57b363bacd27",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "014251fb-ac3e-4fac-9748-db24ba52d560",
  "triggerCount": 0,
  "tags": []
}