workflows/USTDsJwhu99LW8xm.json
{
  "createdAt": "2025-06-11T12:49:57.685Z",
  "updatedAt": "2025-06-11T12:50:05.729Z",
  "id": "USTDsJwhu99LW8xm",
  "name": "Notion_API_MCP",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "functionCode": "// Получаем строку из output\nlet raw = items[0].json.output;\n\n// Удаляем markdown-обёртку, если есть\nraw = raw.replace(/```json|```/g, '').trim();\n\n// Парсим JSON\nconst parsed = JSON.parse(raw);\nreturn [{json: parsed}];"
      },
      "id": "0a4f35b2-f2ec-4e18-b045-c76a21661e71",
      "name": "Parse LLM JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        380,
        -60
      ]
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        20,
        120
      ],
      "id": "1d6f0526-d2f8-42cd-abc0-0991f5e78163",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "OEY7AoSUjSZlA7Co",
          "name": "ADMIN OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Собираем JSON для Notion с дефолтами\nreturn [{\n  json: {\n    parent: {\n      page_id: 'd5de49e6-f63d-42af-b1cd-0ae3f97b4359' // ID вашей страницы LLM Team\n    },\n    properties: {\n      title: [\n        {\n          text: {\n            content: $json[\"title\"] || 'Без названия'\n          },\n          type: 'text'\n        }\n      ],\n      status: [\n        {\n          text: {\n            content: $json[\"status\"] || 'новый'\n          },\n          type: 'text'\n        }\n      ],\n      deadline: [\n        {\n          text: {\n            content: $json[\"deadline\"] || 'не задан'\n          },\n          type: 'text'\n        }\n      ]\n      // Можно добавить другие поля по аналогии\n    },\n    children: $json[\"children\"] || []\n  }\n}];"
      },
      "id": "cbb4cad2-be46-4621-b079-4666e97396d1",
      "name": "Build Notion JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        580,
        -60
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.notion.com/v1/pages",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify($json) }}",
        "headerParametersJson": "{\n  \"Authorization\": \"Bearer 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\",\n  \"Notion-Version\": \"2022-06-28\",\n  \"Content-Type\": \"application/json\"\n}"
      },
      "id": "261d99ba-4999-46cb-abec-cb2362bfd02f",
      "name": "Create Notion Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        800,
        -60
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Преобразуй следующую команду пользователя в чистый JSON с полями:\n- title (название страницы, строка, по умолчанию \"Без названия\"),\n- status (статус, строка, по умолчанию \"Черновик\"),\n- deadline (дедлайн, дата в формате ГГГГ-ММ-ДД, по умолчанию null),\n- owner (ответственный, строка, по умолчанию \"Не назначен\"),\n- description (описание, строка, по умолчанию \"Нет описания\").\n\nЕсли какое-либо поле не указано в команде пользователя, подставь значение по умолчанию. Верни только валидный JSON без комментариев и лишнего текста.\n\nКоманда: {{$json[\"user_prompt\"]}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        20,
        -60
      ],
      "id": "e4d52caa-4e28-44e6-ad06-b79a87ecf86d",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -380,
        -60
      ],
      "id": "e029dcbb-38b0-4e6e-8461-dce229d94202",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "68a7b8a2-4373-462a-966f-344e2106fdf9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1020,
        -60
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc94babc-8ba6-425a-ad38-9cddbe3904c4",
              "name": "user_prompt",
              "value": "  Создай страницу с названием План на июнь, статусом черновик, дедлайном 2024-06-30, ответственным Иван Иванов и описанием \"План работ на месяц\".",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -180,
        -60
      ],
      "id": "86b2346a-c363-4f1a-99a2-e986c792ca27",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Parse LLM JSON": {
      "main": [
        [
          {
            "node": "Build Notion JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notion JSON": {
      "main": [
        [
          {
            "node": "Create Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Page": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "630a20a0-6742-406a-bba9-4b146e96994f",
  "triggerCount": 0,
  "tags": []
}