workflows/UwYjwL81SNDZIpwe.json
{
  "createdAt": "2025-06-11T11:12:38.456Z",
  "updatedAt": "2025-06-11T11:12:43.777Z",
  "id": "UwYjwL81SNDZIpwe",
  "name": "GetOnboardingFile_Advanced_Scripting_and_Expressions",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/n8n/guide/AdvancedScriptingAndExpressions",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "5f8a8d7d-b6ab-4569-8d52-58e1fd5193d0",
      "name": "Webhook",
      "webhookId": "816cfab2-a1c0-4108-8159-70bd6bd1902e"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1wd7JbgFjyQn14lJv5LOYpFJhdZ_m-jEpbB77POArOXg/view"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        60,
        0
      ],
      "id": "a2705cbe-6a21-4213-99ac-5dce58f9aae0",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        280,
        0
      ],
      "id": "f3ee78b6-fc88-4ef9-983d-996ec1ec89bf",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f9d20d50-692b-4730-b0fa-53edfa0010bf",
  "triggerCount": 0,
  "tags": []
}