workflows/vMmRCkhLAWms1Z9r.json
{
  "createdAt": "2025-06-11T19:14:13.751Z",
  "updatedAt": "2025-06-13T20:11:40.758Z",
  "id": "vMmRCkhLAWms1Z9r",
  "name": "Google Tasks Automation (create a new one)",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        0
      ],
      "id": "fbff959c-30dd-462e-b548-69823559e75d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6345e75-18c0-4dd3-8110-885b6bbf6c1e",
              "name": "prompt",
              "value": "      Новый список: testy-test\n      - test 1\n      - test 2\n      - test 3\n      - test 4\n      - test 5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        0
      ],
      "id": "a2bce378-b96c-47eb-aada-9f3c98cf8194",
      "name": "Set prompt to Google Tasks"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=  Проанализируй следующий текст. Первая строка после \"Новый список:\" — это точное название списка Google Tasks. Каждая строка, начинающаяся с дефиса, — это отдельная задача. Верни результат в виде валидного JSON:\n  {\n    \"list\": \"название списка\",\n    \"tasks\": [\"задача1\", \"задача2\", ...]\n  }\n  Пример:\n  Новый список: test to-do\n  - create test\n  - update test\n  - read test\n\n  Ответ:\n  {\n    \"list\": \"test to-do\",\n    \"tasks\": [\"create test\", \"update test\", \"read test\"]\n  }\n  Вот текст для анализа:\n  {{ $json[\"prompt\"] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        300,
        0
      ],
      "id": "0efb752c-6289-40fb-8010-c37c9d9732fe",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "google/gemma-3-27b-it",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        200
      ],
      "id": "b58ff1f1-689b-4109-a2e6-e8e815bfde7b",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "OEY7AoSUjSZlA7Co",
          "name": "ADMIN OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1620,
        0
      ],
      "id": "a4482d61-2b8d-4eb7-acfe-15ae5c20b329",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "task": "={{ $json.id }}",
        "title": "={{ $json.task }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        1960,
        0
      ],
      "id": "050b91c2-b96d-42b6-a2a4-be0b03d9ddad",
      "name": "Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "c5C6IDGXioIhiukT",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -140,
        -220
      ],
      "id": "5beed688-eedc-43b4-a304-10d86cb254fa",
      "name": "When chat message received",
      "webhookId": "12f1c15f-8956-4615-b017-8a8192dc5a9c"
    },
    {
      "parameters": {
        "url": "https://tasks.googleapis.com/tasks/v1/users/@me/lists",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleTasksOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        0
      ],
      "id": "740a8afc-f0e5-4bd5-aa14-7f6c26939440",
      "name": "HTTP Request",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "c5C6IDGXioIhiukT",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Получаем строку из output\nlet raw = $json[\"output\"];\n\n// Удаляем обёртку ```json и ```\nraw = raw.replace(/```json|```/g, '').trim();\n\n// Парсим JSON\nlet parsed = JSON.parse(raw);\n\n// Возвращаем как объект\nreturn parsed;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        0
      ],
      "id": "fd3439f8-0f2a-4074-a91a-8a1bb88b6b01",
      "name": "AI Agent output"
    },
    {
      "parameters": {
        "jsCode": "// Получаем массив всех списков задач\nconst allLists = items[0].json.items;\n\n// Получаем название нужного списка из другой ноды (AI Agent output)\nconst aiNode = $items(\"AI Agent output\", 0);\nconst targetTitle = aiNode[0].json.list;\nconsole.log('allLists', allLists)\n\n// Ищем нужный объект\nfor (const item of allLists) {\n  console.log('item', item)\n  if (item.title === targetTitle) {\n    return [item];\n  }\n}\n\n// Если не найдено — возвращаем пустой массив\nreturn [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ],
      "id": "bf875da0-a6d6-4eb3-9023-530ae55096b3",
      "name": "Filter task lists"
    },
    {
      "parameters": {
        "jsCode": "const tasks = $node[\"AI Agent output\"].json.tasks;\nreturn tasks.map(task => ({ json: { task, id: $json.id } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        0
      ],
      "id": "8216ef86-4d55-42fc-b483-8e36ef8f2027",
      "name": "Separate tasks"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set prompt to Google Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set prompt to Google Tasks": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Tasks": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter task lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent output": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter task lists": {
      "main": [
        [
          {
            "node": "Separate tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separate tasks": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a5ce59d4-6fb7-4966-bbe1-511ab5d5eabc",
  "triggerCount": 0,
  "tags": []
}