workflows/WFn35ZtXvRUy1UQN.json
{
  "createdAt": "2025-06-11T11:18:48.495Z",
  "updatedAt": "2025-06-11T11:18:53.821Z",
  "id": "WFn35ZtXvRUy1UQN",
  "name": "GetOnboardingFile_Extracting_LinkedIn_profile_data",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "onboarding/leadgeneration/guide/ExtractingLinkedInProfileData",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        -40
      ],
      "id": "ed72ac11-4ca3-4e7b-85f7-03b7f2921d51",
      "name": "Webhook",
      "webhookId": "051e51fb-c903-437b-bc1d-12ae8f45b0f8"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/1E1w5t2EGYFL2coJo3QPP_eQYhthxiTcGa1CDVS_ORLM/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        60,
        -40
      ],
      "id": "132b35ad-c141-4a79-867e-fadfd2bca77e",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "vj5PwFO1LpX5RU2k",
          "name": "DEV Google Docs"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        280,
        -40
      ],
      "id": "c10b2628-e0d7-474b-a8a3-a196719da765",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c6915d76-20f8-4a95-9044-46879bbfaaae",
  "triggerCount": 0,
  "tags": []
}